body,
h1 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%
}

h1 {
  font-size: 16pt;
}
h2 {
  font-size: 12pt;
}

.players {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  min-width: 90%;
}

.controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 360px;
}

.clear-button {
  background-color: rgba(240, 248, 255, 0);
}

.bgimg {
  background-image: url('background.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;  
}

.gradlayer {
    background:black;
    bottom:0;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right:0;
    top:0;
}

@media (max-width: 1000px) {
  iframe {
    height: 30%;
  }
  .controls {
    height: 20%;
  }
}